body {
  margin: 0px;
  padding: 0;
}
table {
  margin-bottom: 2em;
}
.header {
  display: block;
  background-color: #ee6e73;
}
.header h4 {
  color: #fff;
  font-weight: 300;
}
.header .btn {
  margin: 1em;
}
.day {
  padding-bottom: 2em;
}
.day-header h3 {
  padding-top: 6px;
  text-transform: capitalize;
}
.upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-name {
  margin-right: 1em;
}
.upload-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
